<!-- <p>dashboard works!</p> -->
<div class="row">
  <div class="col-sm-4 mb-4" *ngFor="let item of userList">
      <div class="card w-100" >
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <h5 class="fw-light">{{item.username}}</h5>
          <a routerLink="{{item.id}}">
            {{item.website}}
          </a>

          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
  </div>
</div>
<!-- <div>
    <ul>
      <li *ngFor="let item of userList">
          {{item.name}}
          {{item.username}}
          {{item.email}}
          {{item.website}}
          {{item.phone}}
          {{item.company.name}}
      </li>
    </ul>
</div>
<button (click)="getAllUserList()">User List</button> -->
