.object-fit {
  &-cover {
    object-fit: cover;
  }

  &-contain {
    object-fit: contain;
  }
}
.footer-content {
  a {
    color: black;
    text-decoration: none;
  }
}


thead, tbody, tfoot, tr, td, th {
  border: .5px solid black;
  padding: 10px;
}

table{
  a{
  color: $pink;
  text-decoration: none;
  border-bottom: 0px;
}
} 

a{
  color: var(--bs-code-color);
}


.international-offices {
  .office-listing {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 0px 0px;
    border-top: 1px solid #c1c1c1;
  }
}

.office-listing {
  .btn-transparent {
    background: transparent;
    border: 2px solid #919191;
    color: #919191;
    border-radius: 0px;
  }
}

.office-listing {
  .btn-default {
    background: #afaaa0;
    border: 1px solid #afaaa0;
    color: #fff;
    border-radius: 0px;
  }
}

.portfolio-thumbnail {
  position: relative;
  width: 100%;
  height: 17rem;
}

.post-thumbnail::before {
  position: absolute;
  width: inherit;
  height: 250px;
  background: rgba(5, 5, 5, .5);
  content: "";
}

.post-thumbnail {
  img {
    display: block;
    width: 100%;
    height: 250px;
    object-position: center;
    object-fit: cover;
    transition: transform 300ms ease-in-out;
  }
}

.over-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.text-bold {
  font-weight: 500;
}

.hover-effect-box {
  .btn-wpink {
    background: #cd5f91;
    color: #fff;
    border: 1px solid #cd5f91;
    border-radius: 0px;
  }
}

.hover-effect-box {
  opacity: 0;
}

.post-thumbnail:hover .hover-effect-box {
  transition: opacity 1s ease-out;
  opacity: 1;
}
