// hover effects
.hover {
  &-border {
    &-warning {
      border-bottom: 3px solid $white ;
      &:hover {
        border-bottom:3px solid  $warning ;
      }
    
    }
  }
  &-text {
    &-warning {
      &:hover * {
        color: $warning;
      }
      
    }
  }
}