<div class="bg-theme-yellow py-3 border-bottom">
  <div class="container">
    <header class="mb-3 ">
      <div class=" d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
          
          <span class="fs-4">{{logo}}</span>
        </a>
        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form> -->
        <div class="col-lg-auto">
          <button routerLink="#" class="btn btn-outline-warning rounded-5   me-2 ms-2 ps-4 pe-4">Download App</button>
          <button routerLink="#" class="btn btn-outline-warning   me-2 ms-2 ps-4 pe-4">Recruiter Login</button>
          <!-- <button routerLink="#" class="btn btn-outline-success   me-2 ms-2 ps-4 pe-4">Recruiter</button> -->
          <button routerLink="#" class="btn btn-warning  ps-4 pe-4">Job Seaker</button>
        </div>
        
      </div>
    </header>
    <h1 class="text-center mb-3">Inspiring Candidates to change your future</h1>
    <form>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
         
          <div class="input-group mb-3 ">
            <input type="text" class="form-control border-0 " aria-label="Search Jobs" placeholder="Search Jobs">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-light bg-light rounded-0"  id="dropdownBasic1" ngbDropdownToggle>
                Toggle dropdown
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-light bg-light rounded-0"  id="dropdownBasic1" ngbDropdownToggle>
                Toggle dropdown1
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
    </form>
   
  
  </div>
  </div>
