<div class="bg-theme-yellow py-3 border-bottom">
  <div class="container">
    <header class="mb-3 ">
      <div class=" d-flex flex-wrap justify-content-center flex-column gap-2 text-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
          
          <span class="fs-4">{{logo}}</span>
        </a>
        <button routerLink="#" class="btn btn-outline-warning rounded-5    ">Download App</button>
        <button routerLink="#" class="btn btn-outline-warning  ">Recruiter Login</button>
        <!-- <button routerLink="#" class="btn btn-outline-success   me-2 ms-2 ps-4 pe-4">Recruiter</button> -->
        <button routerLink="#" class="btn btn-warning   text-light ">Job Seaker</button>
      </div>
    </header>
    <h1 class="text-center mb-3">Inspiring Candidates to change your future</h1>
    <form #form="ngForm">
      <div class="row">
       
         
          <div class="col-sm-12  mb-3 ">
            <input list="jobs" type="text" [(ngModel)]="jobtitle" name="jobtitle" class="d-inline-block form-control border-0 mb-2" aria-label="Search Jobs" placeholder="Search Jobs">
            <datalist id="jobs">
              <option value={{i.title}}  *ngFor="let i of jobList">
            </datalist>
            <div class="row mb-2">
              <div ngbDropdown class="col-6" #locDropdown="ngbDropdown">
                <button type="button" class="btn btn-outline-warning rounded-0 w-100"  id="dropdownBasic1" ngbDropdownToggle>
                  {{location_title}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="p-0 w-50">
                  <input type="text" class="form-control border-1 rounded-0 px-2" placeholder="Search experience">
                  
                    <button *ngFor="let i of expList" ngbDropdownItem (click)="getLoc(i.title)">{{i.title+" years"}}</button>
                  
                </div>
              </div>
              <div ngbDropdown class="col-6" #expDropdown="ngbDropdown">
                <button type="button" class="btn btn-outline-warning rounded-0 w-100"  id="dropdownBasic1" ngbDropdownToggle>
                  {{experience_title}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="p-0 w-50">
                  <input type="text" class="form-control border-1 rounded-0 px-2" placeholder="Search job profile">
                  
                  <button *ngFor="let i of jobList" ngbDropdownItem (click)="getExp(i.title)">{{i.title}}</button>
                  
                </div>
              </div>
            </div>
            <div class="text-end">
              <button class="btn btn-warning text-white btn-block" (click)="searchHandle()">search</button>
            </div>
            
          </div>

        
      </div>
      <!-- <button (click)="dropdown.open()">open dropdown</button> -->
      
    </form>
   
  
  </div>
  </div>

  <div class="container">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <div>
  
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Much longer nav link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
  
